## Challenge 1

SELECT 
    a.au_id AS "AUTHOR ID",
    a.au_lname AS "LAST NAME",
    a.au_fname AS "FIRST NAME",
    t.title AS "TITLE",
    p.pub_name AS "PUBLISHER"
FROM authors a
JOIN titleauthor ta ON a.au_id = ta.au_id
JOIN titles t ON ta.title_id = t.title_id
JOIN publishers p ON t.pub_id = p.pub_id
ORDER BY a.au_id, t.title;

## Challenge 2

SELECT 
    a.au_id AS "AUTHOR ID",
    a.au_lname AS "LAST NAME",
    a.au_fname AS "FIRST NAME",
    p.pub_name AS "PUBLISHER",
    COUNT(t.title_id) AS "TITLE COUNT"
FROM authors a
JOIN titleauthor ta ON a.au_id = ta.au_id
JOIN titles t ON ta.title_id = t.title_id
JOIN publishers p ON t.pub_id = p.pub_id
GROUP BY a.au_id, a.au_lname, a.au_fname, p.pub_name
ORDER BY a.au_id, p.pub_name;

## Challenge 3

SELECT 
    a.au_id AS "AUTHOR ID",
    a.au_lname AS "LAST NAME",
    a.au_fname AS "FIRST NAME",
    SUM(s.qty) AS "TOTAL"
FROM authors a
JOIN titleauthor ta ON a.au_id = ta.au_id
JOIN sales s ON ta.title_id = s.title_id
GROUP BY a.au_id, a.au_lname, a.au_fname
ORDER BY TOTAL DESC
LIMIT 3;

## The output

899-46-2035	Ringer	Anne	148
998-72-3567	Ringer	Albert	133
213-46-8915	Green	Marjorie	50

## Challenge 4

SELECT 
    a.au_id AS "AUTHOR ID",
    a.au_lname AS "LAST NAME",
    a.au_fname AS "FIRST NAME",
    COALESCE(SUM(s.qty), 0) AS "TOTAL"
FROM authors a
LEFT JOIN titleauthor ta ON a.au_id = ta.au_id
LEFT JOIN sales s ON ta.title_id = s.title_id
GROUP BY a.au_id, a.au_lname, a.au_fname
ORDER BY TOTAL DESC;

## The output

899-46-2035	Ringer	Anne	148
998-72-3567	Ringer	Albert	133
213-46-8915	Green	Marjorie	50
427-17-2319	Dull	Ann	50
846-92-7186	Hunter	Sheryl	50
267-41-2394	O'Leary	Michael	45
724-80-9391	MacFeather	Stearns	45
722-51-5454	DeFrance	Michel	40
807-91-6654	Panteley	Sylvia	40
238-95-7766	Carson	Cheryl	30
486-29-1786	Locksley	Charlene	25
472-27-2349	Gringlesby	Burt	20
648-92-1872	Blotchet-Halls	Reginald	20
672-71-3249	Yokomoto	Akiko	20
756-30-7391	Karsen	Livia	20
172-32-1176	White	Johnson	15
274-80-9391	Straight	Dean	15
409-56-7008	Bennet	Abraham	15
712-45-1867	del Castillo	Innes	10
341-22-1782	Smith	Meander	0
527-72-3246	Greene	Morningstar	0
724-08-9931	Stringer	Dirk	0
893-72-1158	McBadden	Heather	0